<main class="main mt-5">
    <div class="chat-box-container">
      <h1 class="chat-box-header">Chat AI</h1>
      <p></p>
      <div class="chat-box" data-spy="scroll" data-target=".chat-box" data-offset="50">
        <div class="ai">
            <p>BOT: HI</p>
            <p *ngFor="let i of bot">BOT: {{i}}</p>
        </div>
        <div class="user" >
            <p *ngFor="let i of user">USER: {{i}}</p>
            <!-- <p class="my-3"  ></p> -->
        </div>
      </div>
    </div>
    <div class="chat-input-container">
      <!-- <input class="chat-input" type="text" name="chat-input" #box> -->
      <div class="column">
        <form action="" class="form">
        	<input class="effect-11" type="text" [value]="searchValue" name="chat-input" placeholder="Type here.." #box>
            <span class="focus-bg"></span>
            <button class="chat-submit" type="button"  name="submit" (click)="onClickMe(box.value)"> <i class="fas fa-paper-plane"></i> </button> 
            </form> 
        </div>
    </div>
  </main>
      <div class="circle" (click)="showChatBox()">
        <div class="bot">
        <i class="fas fa-robot"></i>
      </div>
      </div>
